/* ddc_uchen
=============================================*/
@font-face {
    font-family: 'ddc_uchen';
    src: url('../fonts/ddc_uchen/ddc_uchen.eot');
    src: url('../fonts/ddc_uchen/ddc_uchen.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ddc_uchen/ddc_uchen.woff2') format('woff2'),
    url('../fonts/ddc_uchen/ddc_uchen.woff') format('woff'),
    url('../fonts/ddc_uchen/ddc_uchen.ttf') format('truetype'),
    url('../fonts/ddc_uchen/ddc_uchen.svg#ddc_uchenregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font: 400 1em/1.8 ddc_uchen, Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

.container{
    width:85%;
    margin: 100px auto;
    font-size: 2.0em;
    h1{
        text-align: center;
    }
}
